/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #171717;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
  }
  
  .sidebar.open {
    width: 250px;
  }
  
  .sidebar button {
    padding: 8px 8px 8px 32px;
    color: #818181;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .sidebar button:hover {
    color: blue
  }
  
  .sidebar .toggle-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #818181;
    background: none;
    border: none;
    cursor: pointer;
  }
  .panel-header{
    width: 250px;
    margin: 15px;

  }
  .chat-item{
    width: 250px;
    margin: 15px;

  }
  
  /* Open Button - Always Visible */
  .open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #212121;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
  }
  
  /* Main Content */
  .main-content {
    transition: margin-left .5s;

    margin-top: 60px;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 65px);

    position: relative;

  }
  .message-container{
    min-width: 716px;
    max-width: 716px;
    background-color: #212121;
    color: white;
    height: 75vh;
    overflow: scroll;
    padding-bottom: 3rem;
  

  }
  .image-assistant{
    margin-top: 0.7rem;
    margin-right: 1rem;
  }
  .image-assistant-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

  }
  
  .main-content.shifted {
    margin-left: 250px;
  }
  
  .main-content h2 {
    margin-top: 0;
  }
  .user-message{
    color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .user-message p{
  
    background-color: #323232d9;
    font-size: 1rem;
    padding-bottom: .625rem;
    padding-top: .625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 1.5rem;

  }
  .input-container{
    transition: margin-left .5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 816px;
    overflow: scroll;
    position: absolute;
    bottom: 0;
    color: white;
    height: 15vh;
    background-color: #212121;
  }
  textarea{
  
    min-width: 600px;
    max-width: 600px;
    height: 60px;
    margin-left: 30rem;
    margin-right: 30rem;
    background-color: #323232d9;
    color: white;

    border-radius: 1.2rem 1.2rem 0 0 ;
    padding: 1rem;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
  

  }
  .input-buttons-container{
    
    min-width: 600px;
    max-width: 600px;
    margin-left: 30rem;
    margin-right: 30rem;
    background-color: #323232d9;
    color: white;
    border-radius: 0 0  1.2rem 1.2rem ;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
  }
 
  .send-button{
   width: 30px;
   height: 30px;
   border-radius: 50rem;
   border: none;
   margin-right: -0.25rem;

  }
  .copy-bottom{
     font-size: 12px;
     margin: 1rem;
     color: rgb(180, 180, 180);
  }